<mat-card>
  <div class="cube-left">
    <div class="cube-wrap">
      <div class="cube">
        <div class="face face-front"></div>
        <div class="face face-back"></div>
        <div class="face face-left"></div>
        <div class="face face-right"></div>
        <div class="face face-top"></div>
        <div class="face face-bottom"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>Sorry&hellip;</h1>
    <p>We are in the process of reforming our web presence. The website will be unavailable while this occurs.</p>

    <p>Please check again later.</p>
    <p>If you have urgent questions or concerns, please direct them to me at
      <a href="mailto:shane.m.holland@gmail.com">shane.m.holland@gmail.com</a>.</p>
  </div>
</mat-card>